body{
    font-family: 'Roboto', sans-serif; 
}

.load{
    text-align: center;
    margin-top: 300px;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.container{
    width: 50%;
    height: auto;
    background-color: cyan;
    position: absolute;
    left: 25%;
    top: 25%;
    box-shadow: 0 4px 8px 0 rgb(156, 86, 86);
    
}

.content{
    padding: 20px;
}
.btn{
    float: right;
    width: 80px;
    height: 35px;
    background-color: rgb(33, 124, 33);
    color: white;
    border: 1px solid  rgb(33, 124, 33);
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all ease .2s;
}
.btn:hover {
    background-color: rgb(28, 95, 28);
}
.result{
    text-align: center;
}